<!DOCTYPE html>
<html>
<head>
	<title>Decisional Tool</title>
	<style>
	.button {
	  background-color: #4CAF50; /* Green */
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
	}

	.button1 {
	  background-color: white; 
	  color: black; 
	  border: 2px solid #4CAF50;
	}

	</style>
</head>
<body style="margin-left: 100px; margin-right: 100px; margin-top: 50px"><h1 align="center">Informational Model to Star Schema</h1>
	<hr>
	<br>
	<p style="margin-left: 25px; margin-right: 25px"> This decisional tool converts an informational model consisting of information such as facts, categories, attributes, computed from data to a well-structured star schema with links between facts, dimensions and their attributes. The star schema is the simplest type of Data Warehouse Schema. It is known as a star schema because its structure resembles the shape of a star. In the star schema, the centre contains a fact table and the pointed corners denote the dimensions of the informational model.</p>
	<br>
	<p style="margin-left: 25px">Input the informational model in CSV file format as specified in this <a href="download" download="download">sample file</a></p>
	<form style="margin-left: 25px" action="getfile" method="POST" enctype="multipart/form-data">
   		<input type="file" name="myfile"><br><br>
   		<input type="submit" value="  Continue  " style="text-align: center;">
   		

    <br>
    <br>

    <p> <b>Group Details:</b> Ayushi Shrivastava (2016025), Meghna Gupta (2016056), Tanish Gupta (2016106) </p>
    
</form>

</body>
</html>

